.square{
    width:0px;
    height:0px;
    border-top:100px solid green;
    border-bottom:100px solid blue;
    border-right:100px solid red;
    border-left:100px solid yellow
    }

.mountain{
    border:0px;
    width:0px;
    height:0px;
    border-top:50px solid lightblue;
    border-bottom: 0px solid;
    border-right:50px solid navy;
    border-left:50px solid blue;
    display: inline-block;
    }
.mario{
    border:1px dashed red;
    background-color:lightgreen;
    width:200px;
    height:300px;
}

    p{width: 200px;}
    p.dotted {border-style: dotted}
    p.dashed {border-style: dashed}
    p.solid {border-style: solid}
    p.double {border-style: double}
    p.groove {border-style: groove}
    p.ridge {border-style: ridge}
    p.inset {border-style: inset}
    p.outset {border-style: outset}
